/* Custom Color Scheme */
$mint:    #8fd6d8;
$silver:  #a5aaae;
$heather: #444444;
$medgrey: #93989b;

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Muli');
$Muli: 'Muli', sans-serif;
