<header id="header">
  <div class="container">
    <nav class="navbar">
      <h1 class="home-logo"><%= link_to 'Symple', root_path %></h1>
      <ul class="nav active">
        <li><%= link_to 'About', about_path, class: "navlink current-item" %></li>
        <li><%= link_to 'Contact', contact_path, class: "navlink" %></li>
        <li><%= link_to 'Login', contact_path, class: "login-btn" %></li>
      </ul>
      <!-- <a href="#" class="toggle-nav">&#9776;</a> -->
    </nav>
  </div>
</header>
