<header id="home_header">
  <div class="container">
    <nav class="navbar">
      <h1 class="home-logo"><%= link_to 'Symple', root_path %></h1>
      <ul class="nav">
        <li><%= link_to 'About', about_path, class: "navlink" %></li>
        <li><%= link_to 'Contact', contact_path, class: "navlink" %></li>
        <li><%= link_to 'Login', contact_path, class: "login-btn" %></li>
      </ul>
    </nav>
