<div class="banner">
  <div class="banner-container center-txt">
    <h1 class="banner-title">Blogging without restrictions <br>
    Writing in your own voice
    </h1>
    <h2 class="banner-subtitle">writing in your own tone of voice</h2>
    <p class="banner-txt">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <button class="banner-btn"><a href="#" class="home-learnmore">Learn More</a></button>
  </div>
</div>
</div>
</header>

<div class="container">
  <h1 class="page-title">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
